<!-- Navigation -->
{{!-- <aside id="menu">
  <div id="navigation">
    <ul class="nav" id="side-menu">
      <li>
        <a href="/dashboard">
          <span class="nav-label">Dashboard</span>
        </a>
      </li>
      <li>
        <a href="/settings">
          <span class="nav-label">Settings</span>
        </a>
      </li>
    </ul>
  </div>
</aside> --}}