<div id="wrapper" style="background: white">
  <div class="error-container">
    <i class="pe-7s-way text-success big-icon"></i>
    <h3>404</h3>
    <h4>Page Not Found</h4>
    <h2>
      Sorry, we couldn't find the page
    </h2>
    <a href="/dashboard" class="btn btn-xs btn-success">Go back to dashboard</a>
  </div>
</div>
{{> footer}}