<div id="wrapper" style="background: white">
  <div class="error-container">
    <i class="pe-7s-way text-success big-icon"></i>
    <h3>500</h3>
    <h4>Server Error</h4>
    <h2>
      Oops...there was an error.
    </h2>
    <p>If this happens again, contact us and let us know: support@example.com</p>
    <a href="/dashboard" class="btn btn-xs btn-success">Go back to dashboard</a>
  </div>
</div>
{{> footer}}